.home-container{
    display: flex;
    .all-movies{
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 1px solid #335b2e;
        padding: 20px 40px;
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                text-transform: uppercase;
                font-weight: bold;
                border-left: #335b2e 5px solid;
                padding-left: 10px;
            }
            .view-all{
                color: #335b2e;
                cursor: pointer;
            }
        }
        .movie-thumbnail{
            display: flex;
            justify-content: space-between;
            padding: 0 4px;
            .movie{
                .cover{
                    img{
                        border-radius: 5px;
                        width: 170px;
                    }
                }
            }
            .detail{
                width: 180px;
                .name{
                    font-weight: bold;
                    height: 50px;
                    margin-top: 5px;
                    cursor: pointer;
                }
                .fa-star{
                    color: rgb(230, 226, 0);
                    padding-right: 5px;
                }
            }
        }
    }
    .popular-movies{
        width: 25%;
        padding: 20px 40px;
    }
}